
<div class = "center">

{{#link-to 'entry' entry.id}}<h1>{{entry.title}}</h1>{{/link-to}}
<p>Date Posted: {{entry.date}}</p>

{{update-entry entry=entry updatePost="updatePost"}}
<button class = "btn btn-info"{{action 'deletePost' entry}}>Delete Post</button>
<hr />

</div>
