<div class = "container">

<header>
<h2 id="title"><h1>Welcome To The Portland Food Blog</h1>
</h2>
</header>

{{outlet}}

<footer>
  {{#link-to 'index'}}Home{{/link-to}}
  {{#link-to 'about'}}About{{/link-to}}
  {{#link-to 'contact'}}Contact{{/link-to}}
</footer>

</div>
