<h1>Welcome to the individual page</h1>


{{entry-detail model=model}}
{{new-comment entry=model saveText="saveText"}}

<hr />
<!-- {{comment-tile comment=model}} -->
{{#each model.comments as |comment|}}
<textarea>{{comment.text}}</textarea>
<br />
{{/each}}
